{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

        .js-location-modal {
          width: 250px;
          height: 50px;
          margin: auto;
          border: 2px solid black;
          font-family: "Open Sans", open-sans, sans-serif;
          font-weight: bold;
          font-style: normal;
          font-size: 20px;
          background-color: #A7A9AB;
          color: white;
          text-align: center;
          cursor: pointer;
        }

        .js-location-text {
          justify-content: center;
          vertical-align: middle;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>
        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Ready to begin assessment</h1>
                    Read the README.md file for further instructions.
                </div>
                <div class="js-location-modal" style='display:none'>
                  <span class="js-location-text">Location: Unavailable</span>
                </div>
            </div>
        </div>
    </div>

    <script>

      setEventHandlers();

      function setEventHandlers() {
        $(".community-link").click(setCommunityInfo);
        $(".js-location-modal").click(closeModal);
        createModalToggleEvents();
      }

      function setCommunityInfo(){
        $.ajax({
          url: '/community',
          type: 'GET',
          success: function(response) {
            $(".twothirds_div").html(response.msg);
            setEventHandlers();
          },
          error: function(error) {
            console.log(error.responseText);
          }
        })
      }

      function closeModal(){
        $(".js-location-modal").css("display", "none");
        $(".js-location-text").html = "Location: Unavailable";
      }

      function toggleModal(ev){

        if ($(".js-location-modal").css("display") == "none"){
          let element = ev.toElement.dataset.location;
          residence = "Located: " + element
          $(".js-location-modal").css("display", "block");
          $(".js-location-text").text(residence);
        } else {
          closeModal();
        }
      }

      function createModalToggleEvents(){
        // access all js-comm_user_name items and attach the click handler for toggleModal
        // same items must update text with corresponding data-location
        $('li').each(function( index ){
          let user_name_tag = $(this).find(".js-comm_user_name");
          if (user_name_tag.attr('data-location')){
            user_name_tag.click(toggleModal);
          }
        });
      }

    </script>

{% endblock %}
